$dark: #5a5a5a;
$lighter-gray: #808080;
$base-blue: #6897bb;
$darker-blue:#486982;
$base-white:#ededed;
$base-red: #ff6f69;


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}