#contact{
	margin-top: 2rem;
	background: url(../../img/contact.jpg) center bottom/cover $dark;
	color: $base-white;
}
footer .row{
	background: rgba($color: $dark, $alpha: .8);
	padding: 1rem 2rem;
}
.logo-footer{
	display: flex;
	height: 3rem;
	font-size: 2rem;
	color: $base-white;
	line-height: 3rem;
	font-weight: 700;
	margin: 1.5rem 0;

	img{
		height: 100%;
		width: auto;
	}
	div{
		margin-left: .5rem;
	}
}

#contact .fab{
	font-size: 1.8rem;
	margin: 1rem .4rem 0 0;
	color: $base-white;
	transition: .4s;
	&:hover{
		color: $base-blue;
		transform: scale(1.2)
	}
}
footer strong{
	text-transform: uppercase;
	color: $base-blue;
}
footer a{
	color: $base-white;
}

/* contact form */

footer h3{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 3rem;
	font-size: 2rem;
	margin: 1.5rem 0;

}
.socket{
	background: lighten($lighter-gray,15%);
	height: 1.5px;
}

.form-group{
	margin-bottom: 1.4rem;
}

.form-control{
	background: rgba($color: $dark, $alpha: .4);
	border: 1.5px solid lighten($lighter-gray,15%);
	color: $base-white!important;
	font-size: 1.1rem;
	&:focus{
		background: rgba($color: $dark, $alpha: .1);
		outline: none 0;
		box-shadow: none;
		border: 1.5px solid lighten($lighter-gray,15%);

	}
}


.form-control::placeholder{
	color: $base-white;
	opacity: .4;
}
footer .btn-outline-light{
	border-width: 1.5px;
	margin: 1rem;
	cursor: pointer;
}

/* scroll top */
.scroll-top{
	position: fixed;
	bottom: .5rem;
	right: 1.2rem;
	z-index: 100;
}

.scroll-top .fas{
	display: none;
	border-radius: 10%;
	font-size: 2.5rem;
	padding: 0 .4rem;
	color: $base-white;
	background: $dark;
	opacity: .3;
	transition: .4s;
	&:hover{
		opacity: .5;
	}
}