#offer{
	background: #fafafa;
}
#offer .narrow{
	width: 95%;
}
.offer-wrap{
	position: relative;
	width: 500px;
	margin: 2rem 0;	
}
.offer-item{
	background: white;
	padding: 2rem 3rem;
	position: relative;
	z-index: 1;
	align-self: flex-end;
	text-align: center;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	border-radius: .3rem;

	h4{
		text-transform: uppercase;
		font-size: 1.8rem;
		padding: 1rem;
		margin-top: 2rem;
		
	}
	p{
		margin-top: 2rem;
		font-size: 1rem;
		line-height: 2rem;
		color: $lighter-gray;
	}

}
.offer-image-wrap{
	position: absolute;
	left: 80%;
	top: -4rem;
	width: 100%;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	
}
.offer-wrap-right .offer-image-wrap{
	right: 80%;
	left: unset;
}

.offer-image-wrap img{
	width: 100%;
	height: auto;
	
}

@media (min-width:576px){
	
}
@media (min-width:768px){
	#offer .narrow{
		min-width: 720px;
		width: 95%;
	}
	.offer-wrap{
			width: 380px
		}

	.offer-wrap-left{
		margin-left: 2rem;
	}
	.offer-wrap-right{
		margin-right: 2rem;
	}	
}

@media (min-width:992px){
	#offer .narrow{
		width: 900px
	}
	.offer-wrap{
			width: 450px
		}
}
@media (min-width:1200px){
		#offer .narrow{
			width: 1050px;
		}
	}

@media (min-width:1400px){
		#offer .narrow{
			width: 1200px;
		}
	}