#offer{
	background: #fafafa;
}
#offer .narrow{
	width: 95%;
}
.offer-wrap{
	position: relative;
	width: 90%;
	margin: 10rem 0;	
}

.offer-wrap-left{
	margin-left: 1rem;
}
.offer-wrap-right{
	margin-right: 1rem;
}
.offer-item{
	background: white;
	padding: 1rem;
	position: relative;
	z-index: 1;
	align-self: flex-end;
	text-align: center;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	border-radius: .3rem;

	h4{
		text-transform: uppercase;
		font-size: 1.8rem;
		padding: 1rem 0;
		margin-top: 2rem;
		
	}
	p{
		margin-top: 2rem;
		font-size: 1rem;
		line-height: 2rem;
		color: $lighter-gray;
	}

}
.offer-item:hover+.offer-image-wrap>img{
	transform: scale(1.1);
}
.offer-image-wrap{
	position: absolute;
	left: 5%;
	top: -10rem;
	width: 100%;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	transition: .5s ease;
	
}
.offer-wrap-right .offer-image-wrap{
	right: 5%;
	left: unset;
}

.offer-image-wrap img{
	width: 100%;
	height: auto;
	transition: .5s ease;
}

@media (min-width:576px){
	.offer-wrap{
		width: 300;
		margin: 4rem 0;
	}
	.offer-item{
		padding: 2rem 3rem;
	}
	.offer-image-wrap{
		
		left: 15%;
		top: -8rem;
		
	}
	.offer-wrap-right .offer-image-wrap{
		right: 15%;
	}
}
@media (min-width:768px){
	#offer .narrow{
		min-width: 720px;
		width: 95%;
	}
	.offer-wrap{
			width: 380px;
			margin: 2rem 0;
		}

	.offer-wrap-left{
		margin-left: 2rem;
	}
	.offer-wrap-right{
		margin-right: 2rem;
	}
	
	.offer-image-wrap{
		
		left: 80%;
		top: -4rem;
		
	}
	.offer-wrap-right .offer-image-wrap{
		right: 80%;
	}
}

@media (min-width:992px){
	#offer .narrow{
		width: 900px
	}
	.offer-wrap{
			width: 450px
		}
}
@media (min-width:1200px){
		#offer .narrow{
			width: 1050px;
		}
	}

@media (min-width:1400px){
		#offer .narrow{
			width: 1200px;
		}
	}