#offer{
	background: $base-white
}

.offer-wrap{
	position: relative;
	width: 90%;

	@media (min-width:1200px){
		width: 500px;
	}
}
.offer-item{
	background: white;
	padding: 2rem 3rem;
	position: relative;
	z-index: 1;
	align-self: flex-end;
	text-align: center;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	border-radius: .4rem;

	h4{
		text-transform: uppercase;
		font-size: 1.8rem;
		padding: 1rem;
		margin-top: 2rem;
		
	}
	p{
		margin-top: 2rem;
		font-size: 1rem;
		line-height: 2rem;
		color: $lighter-gray;
	}

}
.offer-image-wrap{
	position: absolute;
	left: 80%;
	top: -4rem;
	width: 100%;
	
}
.offer-wrap-right .offer-image-wrap{
	right: 80%;
	left: unset;
}

.offer-image-wrap img{
	width: 100%;
	height: auto;
}
