.padding{
	padding: 4rem 0 1rem;;
}
.hidden{
	display: none;
}

#projects{
	.btn-lg{
		background: $base-blue;
		color: $base-white;
		text-transform: uppercase;
		font-size: 1.2rem;
		//font-weight: 700;
		padding: .8rem 1.5rem;
	}
}
.projects-item{
	width: 100%;
	padding-top: 66.41%;
	height: 0;
	overflow: hidden;
	position: relative;
}
.project-image{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;	
	transition: transform .5s;
	&:hover{
		transform: scale(1.2);
		cursor: zoom-in;
	}
}
.no-padding [class*=col-]{
	padding: 0;
}
.portfolio-icon{
	margin: .5rem 0 1rem;
}
/* Portfolio */
.portfolio-icon .fas{
	font-size: 5rem;
	color: $base-blue;
}
//.portfolio
.counter{
	font-size: 2.2rem;
	font-weight: 700;

}
.portfolio .portfolio-item p{
	font-size: 1rem;
	color: $lighter-gray;
	text-transform: uppercase;
	font-weight: 700;
}
.portfolio p.lead{
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.7rem;
}

